<p class="title is-4">Latest News</p>

<!-- <div class="columns is-multiline">
    {% for post in site.posts limit:3 %}
    <div class="column is-12">
        {% include post-card.html %}
    </div>
    {% endfor %}
</div> -->

<a class="twitter-timeline"
data-tweet-limit="8"
data-theme="light"
width="100%"
href="https://twitter.com/DrChenWang">
News from Twitter @DrChenWang<br>You need VPN if you see this.
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

